<!DOCTYPE html>
@{
    ViewData["Title"] = "About Me";
}



<div class="headerWhoAmI">
        <h >@ViewData["Title"]</h>

        <div class="MainPWhoAmI">
            <br />
            <p>I am currently looking for a job as a Junior developer in the Netherlands or Melbourne </p>

        </div>
 </div>

<div class="text-left container">

    <br /><br />
    <p>
        Bron Oliver-Holdgate
    </p>

    <br /><br />
    <p1>
        I thrive on the challenge of learning new skills and becoming an expert in the field that I choose.
        I am seeking a challenging position as a software engineer that allows me to continue building on my programming and problem-solving skills.
        With this mindset I believe that I can learn any skills or knowledge that I currently lack.

    </p1>

    <br /><br />
    <p1>
        I am very excited at the prospect of a challenging position designing web applications.
        Since completing my Bachelor of Electrical Engineering (Honors) at Royal Melbourne Institute of Technology
        I have been interested in programming as a career and have been studying in my own time to make this a reality.
        I understand the importance of web application development as more companies want to improve their processes and the visibility of their data.
        I would love the opportunity to grow and refine my programming skills.
    </p1>
    <br /><br />

    <h4>Engineering skills</h4>

    <ul>
        <li>I have experience with, ASP.net, MVC, Entity framework, Linq and SQL server</li>
        <li>Writing and debugging code in C#, C and Python </li>
        <li>Troubleshooting complex hardware and software issues</li>
        <li>Managing many different ongoing projects</li>
        <li>Adaptable to new technology and systems </li>
        <li>Working constructively within a team environment</li>
    </ul>
    <br /><br />

    <p>
        source code for the codesite can be found at the link below
    </p>
    <a href="https://github.com/bronhold/ClimbingWeatherWebsite/" target="_blank">
        GitHub Repository
    </a>
    <br /><br />
    <br /><br />
</div>
